@import "../../../styles/utils/mq";

.about {
  display: flex;
  flex-direction: column-reverse;

  @include mq($from: m) {
    flex-direction: row;
  }
}

.about__media-wrap {
  flex-grow: 1;

  @include mq($from: m) {
    position: relative;
    padding: 0 0 0 10rem;
  }
}

.about__media {
  position: relative;

  @include mq($from: m) {
    position: sticky;
    top: 15rem;
  }
}

.about__image {
  border: var(--border-default-width) solid var(--color-beige);
  max-width: 35rem;
  height: 35rem;
  margin: 0 auto;
  background-color: var(--color-chestnut);
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: -25rem;
    height: 25rem;
    background-color: var(--color-beige);
    width: 3px;
    left: 3rem;
  }

  &::before {
    left: auto;
    right: 3rem;
  }

  @include mq($from: m) {
    margin-top: 25rem;
  }
}

.about__content {
  @include mq($from: m) {
    max-width: 58rem;
    margin-top: 20rem;
  }
}

.about__title {
  line-height: 1;
  margin-bottom: 4.8rem;
  text-align: center;

  @include mq($from: m) {
    text-align: left;
  }
}

.about__title-line {
  font-size: 4.3rem;
  line-height: 1.1;
  display: block;

  @include mq($from: m) {
    font-size: 5.8rem;
  }

  @include mq($from: l) {
    font-size: 7.3rem;
  }
}

.about__kicker {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.1rem;
}

.about__contact {
  margin-top: 4.8rem;
}

.about__animated {
  height: 100%;
}
