@import "../../../styles/utils/mq";

.header {
  position: relative;
  height: 12.6rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 2.8rem 3rem;

  @include mq($until: m) {
    .header--sticky & {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 1rem 3rem;
      z-index: 1;
    }
  }

  @include mq($from: m) {
    align-items: center;
    flex-direction: column;
    height: 100%;
    padding: 5.4rem 2rem 2.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .layout--contact &,
    .layout--about & {
      right: 0;
      height: 9rem;
      padding: 0 1.6rem;
      flex-direction: row;
    }
  }

  @include mq($from: l) {
    padding: 5.4rem 1.6rem 2.8rem;

    .layout--contact &,
    .layout--about & {
      padding: 0 5rem;
      align-items: flex-end;
    }
  }
}

.header__close {
  margin-top: 0.4rem;
  margin-right: 2.6rem;

  @include mq($from: m) {
    margin: 0;
  }
}

.header__close a {
  width: 3.6rem;
  height: 3.6rem;
  display: block;
  border: var(--border-default-width) solid var(--header-color);
  border-radius: 50%;
  position: relative;
  backdrop-filter: blur(4px);
  background-color: rgba(var(--color-petrol-light-rgb), 0.5);

  .layout--contact & {
    backdrop-filter: none;
    background-color: transparent;
  }

  .layout--about & {
    background-color: rgba(var(--color-chestnut-rgb), 0.5);
  }

  @include mq($from: m) {
    height: 5.8rem;
    width: 5.8rem;
  }
}

.header__close:not(.header__close--dots) a {
  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: var(--border-default-width);
    background-color: var(--header-color);
    top: 1.4rem;
    left: 0.5rem;
    transition: all 0.3s;
    border-radius: 5px;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    &::after,
    &::before {
      top: 1rem;
    }

    &::after {
      transform: rotate(35deg);
    }
    &::before {
      transform: rotate(-35deg);
    }
  }

  @include mq($from: m) {
    &::after,
    &::before {
      width: 3rem;
      top: 2.4rem;
      left: 1.1rem;
    }
  }
}

.header__close--dots a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__dots {
  color: var(--header-color);
  font-size: 1.6rem;
  height: 1.6rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  .header__close--dots a:hover & {
    transform: rotate(-90deg);
  }

  @include mq($from: m) {
    font-size: 2.5rem;
    height: 2.5rem;
  }
}

.header__title {
  border: var(--border-default-width) solid var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  margin-top: 0.4rem;
  backdrop-filter: blur(4px);
  background-color: rgba(var(--color-petrol-light-rgb), 0.5);

  .layout--contact &,
  .layout--about & {
    backdrop-filter: none;
    background-color: transparent;
  }

  .layout--about & {
    background-color: rgba(var(--color-chestnut-rgb), 0.5);
  }

  @include mq($from: m) {
    order: 3;
    width: 6.4rem;
    height: 19.6rem;

    .layout--contact &,
    .layout--about & {
      height: 6.4rem;
      width: 19.6rem;
      margin: 0;
    }

    .layout--about & {
      position: fixed;
      bottom: 1.6rem;
      right: 1.6rem;
    }
  }
}

.header__title-headline {
  font-size: 2.2rem;
  font-family: var(--font-family-headline);
  color: var(--header-color);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 0 3.5rem;

  @include mq($from: m) {
    font-size: 3.5rem;
    transform: rotate(-90deg);
    padding: 6.1rem 7.5rem;

    .layout--contact &,
    .layout--about & {
      transform: rotate(0);
      padding: 0;
    }
  }
}

.header__brand {
  transition-property: transform;
  transition-delay: 0.2s;
  transition-duration: 0.5s;

  @include mq($until: m) {
    text-align: center;

    .header--sticky & {
      transform: translate(0, -12.6rem);
    }
  }

  @include mq($from: m) {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__brand-link {
  display: block;
}

.header__logo {
  font-size: 3.7rem;
  margin-bottom: 0.8rem;
  color: var(--color-chestnut);

  @include mq($from: m) {
    font-size: 4.7rem;
    margin-bottom: 1.6rem;
  }

  @include mq($from: l) {
    font-size: 5rem;
  }
}

.header__brand-name-wrapper {
  min-width: 0;
}

.header__brand-name {
  font-family: var(--font-family-headline);
  color: var(--header-color);
  text-decoration: none;
  display: block;
  white-space: nowrap;

  @include mq($from: m) {
  }

  @include mq($from: m) {
    font-size: 2.2rem;
    transform: rotate(-90deg) translateX(-50%);
  }

  @include mq($from: l) {
    font-size: 2.5rem;
  }
}
