@import "../../../styles/utils/mq";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout--work {
  background-color: var(--color-petrol-light);
}

.layout--contact,
.layout--about {
  --header-color: var(--color-beige);
  color: var(--color-beige);
}

.layout--contact {
  background-color: var(--color-petrol);
}

.layout--about {
  background-color: var(--color-chestnut);
}

.layout__content {
  padding: 0 3rem 3.8rem;
  flex-grow: 1;

  .layout--work-detail &,
  .layout--contact & {
    display: flex;
    flex-direction: column;
  }
}

.layout__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 3rem;
}

@include mq($from: m) {
  .layout {
    display: grid;
    grid-template-columns: 22rem 1fr 5rem;
  }

  .layout--contact {
    display: flex;
    flex-direction: column;
  }

  .layout--about {
    grid-template-columns: 13rem 1fr 5rem;
  }

  .layout__content {
    padding: 0;

    .layout--work & {
      max-width: 75rem;
    }

    .layout--work-detail & {
      padding-bottom: 2.6rem;
    }

    .layout--contact & {
      padding: 0;
    }
  }

  .layout__footer {
    margin-top: 14.2rem;
  }

  .layout--about .layout__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    .footer__inner {
      right: 0;
      bottom: auto;
      top: 1.5rem;
      transform: translate(0);
    }
  }
}

@include mq($from: l) {
  .layout {
    grid-template-columns: 30rem 1fr;
  }

  .layout__content {
    max-width: none;
    padding-right: 6rem;

    .layout--work & {
      max-width: none;
    }
  }
}
