@import "../../../styles/utils/mq";

.project {
  @include mq($from: l) {
    display: flex;
    justify-content: space-between;
  }
}

.project__title {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
}

.project__images {
  @include mq($from: m) {
    padding-top: 5.6rem;
  }

  @include mq($from: l) {
    max-width: 50rem;
    flex-shrink: 0;
    margin-left: 9rem;
    padding-top: 5.8rem;
  }

  @include mq($from: xl) {
    padding-top: 17rem;
    max-width: 65rem;
  }

  @include mq($from: xxl) {
    max-width: 75rem;
  }

  @media (max-height: 790px) {
    padding-top: 5.6rem;
  }
}

.project__picture {
  figure {
    border: 3px solid rgba(var(--color-petrol-rgb), 0.1);
  }

  & + & {
    margin-top: 2.6rem;
  }

  @include mq($from: l) {
    & + & {
      margin-top: 10rem;
    }
  }
}

.project__header {
  margin-bottom: 6rem;

  @include mq($from: m) {
    padding-top: 5.6rem;
  }

  @include mq($from: xl) {
    padding-top: 13.9rem;
  }

  @media (max-height: 790px) {
    padding-top: 5.6rem;
  }
}

.project__content {
  max-width: 54rem;
  // margin-bottom: 6rem;
}

.project__content-inner {
  @include mq($from: l) {
    min-height: calc(100vh - 2.8rem);
    display: flex;
    flex-direction: column;
    // position: sticky;
    // top: 0;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: linear;

    .project__content--scrolled & {
      min-height: 0;
    }
  }
}

.project__details-wrap {
  margin-top: auto;
}

.project__video {
  width: 100%;
  height: auto;
}

.project__picture--shadow {
  .project__video,
  img {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 20px 0 rgba(112, 122, 122, 0.2);
    transition: all;
  }
}

.project__picture--loading {
  .project__video,
  img {
    box-shadow: 0 0 20px 0 rgba(112, 122, 122, 0.01);
  }
}

.project__links {
  margin-top: 5.6rem;
}
