@import "../../../styles/utils/list-reset";
@import "../../../styles/utils/mq";

.work-slider {
  color: var(--color-chestnut);

  @include mq($from: s) {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.work-slider__content {
  @include mq($from: s) {
    flex-grow: 1;
    max-width: 60%;
    display: flex;
    flex-direction: column;
  }

  @include mq($from: xxl) {
    width: 40%;
  }
}

.work-slider__headline {
  font-size: var(--font-size-default);
  margin-bottom: 2.6rem;
  margin-top: 8rem;
}

.work-slider__list {
  @include list-reset();
}

.work-slider__item {
  margin-bottom: 1.6rem;
}

.work-slider__title {
  display: flex;
  position: relative;
}

.work-slider__index {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.6rem;

  @include mq($from: s) {
    position: absolute;
    left: -0.6rem;
  }

  @include mq($from: l) {
    height: 6.8rem;
  }
}
.work-slider__title-wrap {
  min-width: 0;
  position: relative;

  @include mq($until: s) {
    margin-left: 0.6rem;
  }
}

.work-slider__title-text {
  font-size: 4.3rem;
  font-family: var(--font-family-headline);
  display: block;
  transition: all 0.2s;
  white-space: nowrap;

  @include mq($until: s) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  @include mq($from: s) {
    .work-slider__item:hover &,
    .work-slider__item--active & {
      letter-spacing: 1rem;
      font-weight: var(--font-weight-bold);
    }
  }

  @include mq($from: l) {
    font-size: 6.5rem;
  }
}

.work-slider__technology p {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  font-size: 1.2rem;

  br {
    content: "";
  }

  br::after {
    content: " ";
  }
}

.work-slider__media {
  @include mq($from: s) {
    width: 40%;
    flex-shrink: 0;
    margin-top: auto !important;
  }

  @include mq($from: m) {
    max-width: 59rem;
  }

  @include mq($from: xxl) {
    width: 60%;
    max-width: 64rem;
  }
}

.work-slider__indicator {
  background-color: var(--color-chestnut);
  height: 0.3rem;
  position: absolute;
  left: calc(100% + 1.2rem);
  top: 50%;
  transform: translateY(-50%);
}

.work-slider__details {
  color: var(--color-petrol);
  margin-top: auto !important;
  display: flex;
}

.work-slider__detail-item {
  width: 50%;
  padding-right: 2.4rem;
}

.work-slider__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin-bottom: 0.8rem;
  font-size: 2.1rem;
}
